html, body {
	width: 100%;
	height: 100%;
	font-size: 18pt;
	font-family: "Lato", "Segoe UI", "Avenir", "Tahoma", "Verdana", "Helvetica Neue", "Helvetica", sans-serif;
}

html {
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#qr canvas, #qr img {
	margin: 0 auto;
}

input {
	margin-top: 1em;
	border: 1px solid #999;
	font: inherit;
}
